<div class="h-screen w-64 bg-gray-800 text-white flex flex-col">
    <div class="px-6 py-4 text-xl font-bold border-b border-gray-700">
        Admin Dashboard
    </div>
    <nav class="flex-1 p-4">
        <ul class="space-y-3">
            <li><a routerLink="/admin/dashboard/users" class="block hover:bg-gray-700 p-2 rounded">Users</a></li>
            <li><a routerLink="/admin/dashboard/companies" class="block hover:bg-gray-700 p-2 rounded">Companies</a>
            </li>
            <li><a routerLink="/admin/dashboard/skills-management" class="block hover:bg-gray-700 p-2 rounded">Manage
                    User Skils</a></li>
            <li><a routerLink="/admin/dashboard/jobs" class="block hover:bg-gray-700 p-2 rounded">Manage Jobs</a></li>
            <li><a routerLink="/admin/dashboard/manage-plans" class="block hover:bg-gray-700 p-2 rounded">Manage
                    Subscriptions</a></li>
        </ul>
    </nav>
</div>