<div class="min-h-screen bg-gray-100 py-8">
    <div class="max-w-4xl mx-auto px-4">

        <!-- Loading State -->
        <div *ngIf="loading && !profile" class="flex items-center justify-center min-h-[400px]">
            <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600"></div>
        </div>

        <!-- Profile Content -->
        <div *ngIf="profile" class="space-y-4">

            <!-- Header Card -->
            <div class="bg-white rounded-lg shadow-sm overflow-hidden">


                <!-- Profile Info -->
                <div class="px-6 pb-6">



                    <app-basic-profile [profile]="profile" (updatedBasicInfo)="onUpdated($event)"></app-basic-profile>

                    <app-resume-section [profile]="profile" (updatedProfile)="onUpdated($event)"></app-resume-section>

                    <app-document-section [profile]="profile"
                        (updatedProfile)="onUpdated($event)"></app-document-section>

                    <app-education-section [profile]="profile"
                        (updatedEducation)="onUpdated($event)"></app-education-section>

                    <app-skills-section [profile]="profile" (updatedUser)="onUpdated($event)"></app-skills-section>

                    <app-experience-section [profile]="profile"
                        (updatedExperience)="onUpdated($event)"></app-experience-section>



                </div>
            </div>
        </div>
    </div>
</div>