<div class="min-h-screen grid lg:grid-cols-2  relative">

    <!-- Logo (Top-Left Corner) -->
    <div class=" top-6 left-6 z-10 fixed">
        <div class="flex items-center space-x-2">
            <!-- <div class="w-10 h-10 bg-white rounded-lg flex items-center justify-center shadow-lg"> -->
            <!-- <i class="fas fa-briefcase text-blue-600 text-xl"></i> -->
            <!-- </div> -->
            <!-- <span class="text-black font-bold text-xl">CareerCraft</span> -->
            <img class="w-30 ml-5" src="assets/images/careerCraftLog.PNG" alt="logo">

        </div>
    </div>



    <!-- left banner -->
    <div class="sticky top-0 h-screen flex items-center justify-center bg-gray-50">
        <div class="w-4/5 h-120 bg-center bg-cover rounded-xl shadow-2xl flex items-center justify-center text-white text-xl font-bold"
            style="background-image: url('assets/images/register-banner.svg');">

        </div>
    </div>





    <!-- Right Signup -->
    <div class="flex flex-col h-screen overflow-y-auto bg-gray-50 p-8 z-10">

        <!-- Signup Box -->
        <app-signup></app-signup>


        <!-- Footer (Part of scroll) -->
        <footer class="mt-8 py-4 border-t border-gray-200">
            <div class="flex justify-evenly text-gray-600 text-sm">
                <a href="#" class="hover:underline">About Us</a>
                <a href="#" class="hover:underline">Contact Us</a>
                <a href="#" class="hover:underline">FAQs</a>
                <a href="#" class="hover:underline">Terms and Conditions</a>
                <a href="#" class="hover:underline">Report a Problem</a>
                <a href="#" class="hover:underline">Privacy Policy</a>
            </div>
        </footer>
    </div>

</div>