<div class="flex flex-col flex-grow items-center justify-center ">
    <div class="w-full max-w-md">
        <div class="glass-effect rounded-2xl p-8 shadow-xl hover-lift">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold text-gray-800 mb-2">Get Started</h2>
                <p class="text-gray-600">Join thousands of professionals today</p>
            </div>

            <!-- signup component -->
            <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg space-y-6">
                <form [formGroup]="registerForm" (ngSubmit)="signup()" class="space-y-6">


                    <div class="w-full max-w-sm mx-auto ">
                        <label class="block text-sm font-medium text-black mb-3">
                            I want to register as:
                        </label>

                        <div
                            class="relative flex w-full rounded-full bg-white/10 backdrop-blur-md border border-white/20 shadow-lg p-1">
                            <!-- Hidden Radio Inputs -->
                            <input type="radio" name="role" id="role-user" value="user" formControlName="role"
                                class="hidden peer/user" />
                            <input type="radio" name="role" id="role-company" value="company" formControlName="role"
                                class="hidden peer/company" />

                            <!-- Sliding Background -->
                            <div
                                class="absolute top-1 bottom-1 left-1 w-1/2 rounded-full bg-white/30 backdrop-blur-md transition-all duration-300 peer/company:translate-x-full">
                            </div>

                            <!-- Labels -->
                            <label for="role-user"
                                class="flex-1 cursor-pointer z-10 text-center py-2 rounded-full text-black peer-checked/user:font-semibold">
                                User
                            </label>
                            <label for="role-company"
                                class="flex-1 cursor-pointer z-10 text-center py-2 rounded-full text-black peer-checked/company:font-semibold">
                                Company
                            </label>
                        </div>
                    </div>


                    <!-- User Fields (First Name & Last Name) -->
                    <div *ngIf="isUserMode" class="space-y-6">
                        <!-- First Name -->
                        <div>
                            <input type="text" formControlName="firstName" placeholder="First name"
                                class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                                [class.border-red-500]="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">
                            <div *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid"
                                class="text-red-500 text-sm mt-1 space-y-1">
                                <div *ngIf="registerForm.get('firstName')?.errors?.['required']">First name is required.
                                </div>
                                <div *ngIf="registerForm.get('firstName')?.errors?.['pattern']">Only alphabets allowed.
                                </div>
                                <div *ngIf="registerForm.get('firstName')?.errors?.['minlength']">At least 2 characters
                                    required.
                                </div>
                                <div *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">Maximum 10 characters
                                    allowed.
                                </div>
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div>
                            <input type="text" formControlName="lastName" placeholder="Last name"
                                class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                                [class.border-red-500]="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
                            <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid"
                                class="text-red-500 text-sm mt-1 space-y-1">
                                <div *ngIf="registerForm.get('lastName')?.errors?.['required']">Last name is required.
                                </div>
                                <div *ngIf="registerForm.get('lastName')?.errors?.['pattern']">Only alphabets allowed.
                                </div>
                                <div *ngIf="registerForm.get('lastName')?.errors?.['minlength']">At least 2 characters
                                    required.
                                </div>
                                <div *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">Maximum 10 characters
                                    allowed.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Company Field (Company Name) -->
                    <div *ngIf="isCompanyMode">
                        <input type="text" formControlName="companyName" placeholder="Company name"
                            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                            [class.border-red-500]="registerForm.get('companyName')?.touched && registerForm.get('companyName')?.invalid">
                        <div *ngIf="registerForm.get('companyName')?.touched && registerForm.get('companyName')?.invalid"
                            class="text-red-500 text-sm mt-1 space-y-1">
                            <div *ngIf="registerForm.get('companyName')?.errors?.['required']">Company name is required.
                            </div>
                            <div *ngIf="registerForm.get('companyName')?.errors?.['pattern']">Enter a valid company
                                name.</div>
                            <div *ngIf="registerForm.get('companyName')?.errors?.['minlength']">At least 2 characters
                                required.
                            </div>
                            <div *ngIf="registerForm.get('companyName')?.errors?.['maxlength']">Maximum 50 characters
                                allowed.</div>
                        </div>
                    </div>

                    <!-- Email validator -->
                    <div>
                        <input type="text" formControlName="email" placeholder="Email"
                            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                            [class.border-red-500]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                            class="text-red-500 text-sm mt-1">
                            <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                            <div *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid Email.</div>
                            <div *ngIf="registerForm.get('email')?.errors?.['exists']">Email already exists.</div>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div>
                        <input type="number" formControlName="phone" placeholder="Phone number"
                            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                            [class.border-red-500]="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid">
                        <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"
                            class="text-red-500 text-sm mt-1">
                            <div *ngIf="registerForm.get('phone')?.errors?.['required']">Phone number is required.</div>
                            <div *ngIf="registerForm.get('phone')?.errors?.['pattern']">Enter a valid Indian phone
                                number.</div>
                            <div *ngIf="registerForm.get('phone')?.errors?.['exists']">Phone number already taken.</div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div>
                        <input type="password" formControlName="password" placeholder="Password"
                            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                            [class.border-red-500]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                        <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                            class="text-red-500 text-sm mt-1 space-y-1">
                            <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">At least 8 characters
                                required.</div>
                            <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
                                Must contain uppercase, lowercase, and a number.
                            </div>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div>
                        <input type="password" formControlName="confirmPassword" placeholder="Confirm password"
                            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 focus:bg-white transition duration-200"
                            [class.border-red-500]="(registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid) || (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched)">
                        <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid"
                            class="text-red-500 text-sm mt-1">
                            <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Please confirm your
                                password.
                            </div>
                        </div>
                        <div *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched"
                            class="text-red-500 text-sm mt-1">
                            Passwords do not match.
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit"
                        class="w-full bg-gradient-to-r from-purple-600 to-blue-500 hover:from-purple-700 hover:to-blue-700 text-white font-semibold py-3 rounded-lg transition-transform transform hover:scale-105 disabled:bg-gray-400 disabled:cursor-not-allowed"
                        [disabled]="registerForm.invalid">
                        Sign up as {{ isCompanyMode ? 'Company' : 'User' }}
                    </button>

                </form>
            </div>

            <!-- Divider -->
            <div class="relative mb-6 mt-6">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center text-sm">
                    <span class="px-4 bg-white text-gray-500">or</span>
                </div>
            </div>

            <!-- Social Signup Buttons -->
            <div class="space-y-3 mb-6" id="google-login">
                <button (click)="handleGoogleSignup()"
                    class="social-btn w-full flex items-center justify-center px-4 py-3 border border-gray-300 rounded-lg bg-white hover:bg-gray-50 text-gray-700 font-medium">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"
                        class="w-5 h-5 mr-3">
                    Continue with Google
                </button>
            </div>

            <div class="text-center mt-6">
                <p class="text-gray-600">
                    Already have an account?
                    <a routerLink='/auth/login' class="text-blue-600 hover:underline cursor-pointer">
                        Login
                    </a>
                </p>
            </div>
            >
        </div>
    </div>
</div>